* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .titulo {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin: 5px;
} */


.main {
    text-align: center;
    position: fixed;
    /* Fija la posición del contenedor */
    top: 0;
    /* Se queda en la parte superior de la ventana */
    background: white;
    /* Fondo blanco para el contenedor */
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
}



body {
    background-image: url("../img/todo.jpg");
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.cardContainer {
    text-align: justify;

}

button {
    padding: 5px;
}

.btnAdd {
    margin: 0.5rem;
}


.error-message {
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(194, 23, 23);
    font-size: 30px;
    width: fit-content;
    margin: 10px auto;
    font-weight: 600;
}

.bloqueada {
    opacity: 0.5;
    pointer-events: none;
}