* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin: 5px;
}

.main {
    /* display: flex; */
    /* justify-content: space-evenly; */
    text-align: center;

}


body {
    background-image: url("../img/todo.jpg");
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start
}

button {
    padding: 5px;
}

.btnAdd {
    padding: 5px;
    margin: 1rem;
}

/* .textBlue {
    color: blue;
} */

.error-message {
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(194, 23, 23);
    font-size: 30px;
    width: fit-content;
    margin: 10px auto;
    font-weight: 600;
}